//@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700|Roboto:400,700);

//Variables

$font1: 'Oswald', sans-serif;
//$font1: 'Ubuntu', sans-serif;
$font2: 'Merriweather', serif;
$red: #e13d47;
$redlight: #F04752;
$black: #262626;
$black2: #4A4A4A;
$black3: #3d3d3d;
$white: #dedede;
$silver: #ebebeb;
$silver2: #e0e8e7;

@mixin box-sizing($box) {
  -webkit-box-sizing: $box;
     -moz-box-sizing: $box;
      -ms-box-sizing: $box;
          box-sizing: $box;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin transition($dur, $trans){
	-webkit-transition: all $dur $trans;
	   -moz-transition: all $dur $trans;
	    -ms-transition: all $dur $trans;
	     -o-transition: all $dur $trans;
	        transition: all $dur $trans;
}

.typed-cursor{
    display: none;
}

//Globals

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300italic,700|Oswald:400,700);

*{
	@include box-sizing(border-box);
}
html{
	font-family: $font2;
	margin: 0;
	padding: 0;
	height: 100%;
	background: repeating-linear-gradient(
	  -45deg,
	  #ffffff,
	  #f8f8f8 1000px
	);
	background-position: left top;
	color: $black;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
h1, h2, h3, nav li, header{
	font-family: $font1;
}
h1{
	font-size: 100%;
	margin: 0.2em 0;
	font-weight: 400;
}
h3{
	color: $red;
	font-size: 1.4em;
	margin-top: .5em;
	margin-bottom: .5em;
	font-weight: 400;
	text-transform: uppercase;
}
h4{
	font-size: 1em;
}
p{
	line-height: 1.6em;
}
h1 a, h1 a:hover, h1 a:active, h1 a:visited{
	color: #303030;
}
a, a:hover, a:active, a:visited{
	color: #888888;
	text-decoration: none;
}
.hidden{
	display: none;
}
.row{
	width: 100%;
	overflow: hidden;
}
.col1{
	width: 8.333%;
}
.col2{
	width: 16.666%;
}
.col3{
	width: 25%;
}
.col4{
	width: 33.333%;
}
.col5{
	width: 41.666%;
}
.col6{
	width: 50%;
}
.col7{
	width: 58.333%;
}
.col8{
	width: 66.666%;
}
.col9{
	width: 75%;
}
.col10{
	width: 83.333%;
}
.col11{
	width: 91.666%;
}
.col12{
	width: 100%;
}
[class*='col']{
	float: left;
}
.offset1{
	margin-left: 8.333%;
}
.offset2{
	margin-left: 16.666%;
}
.offset3{
	margin-left: 25%;
}
.offset4{
	margin-left: 33.333%;
}
.offset5{
	margin-left: 41.666%;
}
.offset6{
	margin-left: 50%;
}
.offset7{
	margin-left: 58.333%;
}
.offset8{
	margin-left: 66.666%;
}
.offset9{
	margin-left: 75%;
}
.offset10{
	margin-left: 83.333%;
}
.offset11{
	margin-left: 91.666%;
}

// Nav

header h1{
	float: left;
}
.top.row{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $silver;
	z-index: 10;
	padding: 0 20px;
	background: -webkit-linear-gradient(#fff, $silver2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, $silver2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, $silver2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, $silver2); /* Standard syntax */
	@include box-shadow(0, 1px, 10px, rgba(0, 0, 0, 0.3));
}
header .time{
	float: right;
	margin: 0.2em 0;
}
header .time img{
	float: left;
	margin-right: 15px;
}
.sidebar{
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 100%;
	background-color: $black3;
	padding-top: 65px;
	z-index: 1;
	box-shadow: 5px 0px 12px #AAA;
}
.sidebar nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.sidebar nav ul li{
	margin-bottom: 20px;
}
.sidebar nav ul li.active a, .sidebar nav ul li:hover a{
	color: #fff;
}
.sidebar nav ul a{
	color: $white;
	opacity: 0.9;
	text-shadow: 0.1em 0.1em 0.2em #000;
}
.sidebar nav ul a:hover, .sidebar nav ul li.active a{
	opacity: 1.0;
}
.sidebar nav ul a img{
	clear: both;
}
.main{
	margin-left: 100px;
	margin-top: 20px;
	height: 100%;
	@include transition(.6, ease);
}
.main > .row{
	margin-top: 20px;
	padding-bottom: 10px;
	height: 100%;
}
.main > .row > .col10, 
.main > .row > .col10 > .ng-scope,
.main > .row > .col10 > .ng-scope > .window-contain{
	height: 100%;
}
.main.mainload{
	opacity: 0;
}

// Home

.homesec{
	margin-top: 60px;
	text-align: center;
}
img.sitelogo{
	width: 100%;
	height: 100%;
}
.homesec h2{
	font-family: $font2;
	color: $red;
	font-size: 1.6em;
}
.homesec h3{
	font-family: $font2;
	color: $black;
	font-size: 1.6em;
	text-transform: none;
	font-weight: 700;
}
.window-contain{
	position: relative;
	max-width: 1200px;
}
.window{
	background-color: #fff;
	@include box-shadow(2px, 3px, 8px, rgba(0, 0, 0, 0.5));
	padding: 20px 20px 10px;
	border-radius: 0 0 4px 4px;
	height: 80%;
	overflow: scroll;
	overflow-x: hidden;
}

/* Let's get this party started */
.window::-webkit-scrollbar {
    width: 10px;
}
/* Track */
.window::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
/* Handle */
.window::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: $red;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    opacity: .5;
}
.window::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.windowhead{
	height: 30px;
	width: 100%;
	background-color: $black;
	border-radius: 4px 4px 0 0;
	@include box-shadow(2px, 3px, 8px, rgba(0, 0, 0, 0.5));
}
.windowhead .exit{
	width: 18px;
	height: 18px;
	background-color: $red;
	border-radius: 18px;
	margin-top: 6px;
	margin-left: 10px;
	display: block;
	float: left;
}
.windowhead .exit:hover{
	background-color: $redlight;
}
.windowhead h2{
	font-size: 100%;
	color: $white;
	text-align: center;
	line-height: 2em;
	font-weight: 400;
}

// Portfolio

.portfolio img{
	width: 100%;
	height: 100%;
}
.portfolio > .row{
	margin-bottom: 80px;
	@include transition(.6, ease);
}
.portfolio > .row:last-child{
	padding-bottom: 0;
	border-bottom: none;
}
.portfolio h3{
	margin-top: 0;
}

// Resume
.resume{
	position: relative;
	padding-bottom: 100px;
}
.resume .row{
	margin-bottom: 40px;
}
.resume h4{
	margin-bottom: .5em;
}
.resume p{
	margin: 0;
}
.resume ul.hide-list{
	padding: 0;
}
.resume ul.hide-list li{
	list-style: none;
}
.duration{
	font-weight: 400;
	font-style: italic;
}
a.download-resume{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: $red;
}

// About
.about img{
	width: 80%;
}

// Contact

label{
	display: none;
}
form{
	overflow: hidden;
	margin-bottom: 40px;
}
::-webkit-input-placeholder {
   color: #999;
}
:-moz-placeholder { /* Firefox 18- */
   color: #999;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #999;  
}
:-ms-input-placeholder {  
   color: #999;  
}
.form-item{
	width: 50%;
	float: left;
}
.form-item .item-left{
	padding-right: 5px;
	margin-bottom: 10px;
}
.form-item .item-right{
	padding-left: 5px;
	margin-bottom: 10px;
}
.form-item input:focus,
.form-item textarea:focus{
	background-color: #F0F0F0;
}
.form-item.message{
	width: 100%;
	height: 200px;
}
.form-item input, 
.form-item textarea{
	width: 100%;
	box-shadow: 0;
	border: 0;
	padding: 10px;
	border: 2px solid #999;
}
.form-item textarea{
	height: 100%;
	resize: none;
}
.form-item input:focus, 
.form-item textarea:focus{
	outline: none;
}
.submit{
	clear: both;
	padding-top: 10px;
	text-align: right;
}
.submit input,
.download-resume{
	background: transparent;
	border: 2px solid $red;
	color: $red;
	padding: 10px 20px;
}
.submit input:hover,
.download-resume:hover{
	background: $red;
	color: #fff;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	background-color: transparent;
}

.contact-side{
	overflow: hidden;
}
.icons{
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}
.social-icons{
	width: 50px;
	display: block;
	float: left;
	margin-right: 15px;
}
.social-icons img{
	width: 100%;
}
.contact h4{
	margin-top: 0;
	margin-bottom: 10px;
}

@media (max-width: 1100px){
	.portfolio [class*='col'],
	.resume [class*='col'],
	.contact [class*='col'],
	.about [class*='col']{
		float: none;
		width: 100%;
	}
	.portfolio [class*='offset'],
	.contact [class*='offset'],
	.about [class*='offset']{
		margin-left: 0;
	}

	.about img{
		width: 50%;
		margin: 0 auto 40px;
		display: block;
	}

	.social-icons{
		width: 80px;
		margin-right: 10px;
	}
	.social-icons:last-child{
		margin-right: 0;
	}

}
@media (max-width: 760px){
	html{
		overflow: auto;
		background: #fff;
	}
	body{
		overflow: auto;
	}
	.hidden-phone{
		display: none;
	}
	[class*='offset']{
		margin-left: 0;
	}
	[class*='col']{
		float: none;
		width: 100%;
	}
	header .time{
		display: none;
	}
	/*
	header .navtogg{
		float: right;
		cursor: pointer;
	}
	header .navtogg .icon-bar {
		width: 25px;
		height: 4px;
		background: #303030;
		display: block;
		content: '';
		margin-bottom: 3px;
		border-radius: 3px;
	}
	header .navtogg .icon-bar:first-child {
		margin-top: 8px;
	}
	*/
	header h1{
		font-size: 18px;
	}
	.sidebar{
		position: relative;
		width: 100%;
		height: auto;
		box-shadow: 5px 0px 12px #AAA;
		overflow: hidden;
		padding-top: 25px;
	}
	.sidebar nav ul li{
		float: left;
		width: 25%;
	}
	.main{
		margin-left: 0;
		margin-top: 0;
		height: auto;
		padding-left: 10px;
		padding-right: 10px;
		overflow: auto;;
	}
	.window, .windowhead{
		@include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
	}
	.window{
		height: auto;
		overflow: auto;
		background-color: transparent;
	}
	.windowhead{
		border-radius: 0;
		margin-bottom: 20px;
	}
	.windowhead .exit{
		display: none;
	}
	.homesec{
		padding: 0 20px;
	}

	.form-item{
		width: 100%;
		float: none;
	}
	.form-item .item-left,
	.form-item .item-right{
		padding-right: 0;
		padding-left: 0;
	}
}

@media (max-width: 410px){
	.sidebar{
		padding-top: 20px;
	}
	.sidebar nav ul li{
		margin-bottom: 10px;
	}
	.social-icons{
		width: 60px;
	}
}