<div class="window-contain">
	<div class="windowhead hidden-phone">
		<a href="#!" class="exit"></a>
		<h2>About</h2>
	</div>
	
	<div class="window about">
		<div class="row">
			<div class="col5">
				<!-- <img src="images/portrait.jpg" alt="Tyler Patton Portrait"> -->
				<div id="portrait"></div>
			</div>
			<div class="col7">
				<h3> About Me </h3>
				<p>My name is James Tyler Patton, but I usually go by Tyler. I am a Los Angeles-based front-end web developer with a passion for making beautiful websites and learning new things. I combined my passions for graphic design and problem solving by pursuing a bachelors degree in web design at the Art Institutes, where the technical aspects of web design grew on me and I developed a love for code. I love designing and building for both desktop and mobile platforms, using whatever technologies I can get my hands on.</p>

				<h3> My Portfolio </h3>
				<p>My portfolio serves as a repository to hold my latest web projects and to show my skills as a front-end web designer/developer. This site is made with Angular JS, jQuery, jQuery UI, HTML5, CSS/SASS, PHP, and is made to work well on mobile devices. I was also able to make this site SEO friendly by adjusting Angular UI Router, allowing search engines to index my sites pages. </p>
				<p>You can see my work <a ui-sref="portfolio">here</a> and don't be afraid to <a ui-sref="contact">get in touch</a>.</p>
				
				<div>
					<p>(626)733-6030<br>jamestylerpatton@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
</div>
