<div class="window-contain">
	<div class="windowhead hidden-phone">
		<a href="#!" class="exit"></a>
		<h2>Portfolio</h2>
	</div>
	
	<div class="window portfolio">

		<!-- Webhostinghub -->
		<div class="row" ng-repeat="piece in pieces">
			<div class="col6">
				<a target="_blank" ng-href="{{piece.url}}"><img ng-src="images/{{piece.img}}" alt="Project Image"></a>
			</div>
			<div class="col5 offset1">
				<a target="_blank" ng-href="{{piece.url}}"><h3>{{piece.title}}</h3></a>
				<p class="tech-used">- {{piece.tech}} -</p>
				<p>{{piece.description}}</p>
			</div>
		</div>

		
	</div>
</div>