<div class="window-contain">
	<div class="windowhead hidden-phone">
		<a href="#!" class="exit"></a>
		<h2>Portfolio</h2>
	</div>
	
	<div class="window portfolio">
		
		<!-- Walden -->
		<div class="row">
			<div class="col6">
				<a target="_blank" href="http://jtpatton.com/walden"><img src="images/placeholder.jpg" alt="Project Image"></a>
			</div>
			<div class="col5 offset1">
				<h3>Walden</h3>
				<p>- HTML5, CSS3, jQuery, Responsive -</p>
				<p>Walden is a fictional skateboard company website made to promote their skateboards and skateboarding in general. The audience of this site is meant to be more expeienced skaters. This site won me best of quarter awards for Digital Site Identity and Intermediate Web Design.</p>
			</div>
		</div>

		<!-- JS Chat -->
		<div class="row">
			<div class="col6">
				<a target="_blank" href="http://jtpatton.com/chat"><img src="images/placeholder.jpg" alt="Project Image"></a>
			</div>
			<div class="col5 offset1">
				<h3>JS Chat</h3>
				<p>- HTML5, CSS3, JavaScript, Firebase, jQuery -</p>
				<p>JS Chat is a realtime chatroom made entirely from JavaScript and HTML... No PHP or MySql included. It was created using the Firebase API, a realtime backend service helping take a load off my server. </p>
			</div>
		</div>

		<!-- StreamQuote -->
		<div class="row">
			<div class="col6">
				<a target="_blank" href="http://jtpatton.com/streamquote"><img src="images/placeholder.jpg" alt="Project Image"></a>
			</div>
			<div class="col5 offset1">
				<h3>StreamQuote</h3>
				<p>- HTML5, CSS3, JavaScript, jQuery -</p>
				<p>StreamQuote is an interactive quote site where the user hovers over an image of a famous/historical figure, and their name and a quote from them appears. This was built because other famous quote sites are either not fun to use or are hard to look at.</p>
			</div>
		</div>

		<!-- Summit Theme -->
		<div class="row">
			<div class="col6">
				<a target="_blank" href="http://jtpatton.com/blog"><img src="images/placeholder.jpg" alt="Project Image"></a>
			</div>
			<div class="col5 offset1">
				<h3>Summit Theme</h3>
				<p>- WordPress, HTML5, CSS3, jQuery, PHP -</p>
				<p>Summit is a theme I created from scratch for WordPress with the help of SiteGround and the Themeshaper WordPress tutorials. It was created as a portfolio website others could use and modify and I amplanning on putting it on Theme Forest.</p>
			</div>
		</div>

		<!-- Shred List -->
		<div class="row">
			<div class="col6">
				<a target="_blank" href="http://jtpatton.com/shredlist"><img src="images/placeholder.jpg" alt="Project Image"></a>
			</div>
			<div class="col5 offset1">
				<h3>Shred List</h3>
				<p>- Ratchet, HTML5, CSS3, JavaScript, jQuery -</p>
				<p>This app is for snowboarders who want to create their own list of tricks to complete during the snowboard season. They can manage how many tricks they have completed and how many are on their list. This is created in HTML and JavaScript with a mobile framework called Ratchet.</p>
			</div>
		</div>

		<!-- EduChord -->
		<div class="row">
			<div class="col6">
				<a target="_blank" href="http://jtpatton.com/educhord"><img src="images/placeholder.jpg" alt="Project Image"></a>
			</div>
			<div class="col5 offset1">
				<h3>EduChord</h3>
				<p>- HTML5, CSS3, JavaScript, jQuery, Pure -</p>
				<p>EduChord is an interactive way to learn how to learn and play guitar chords for motivated beginners. There is even an optional quiz to complete once the user feels confident enough in their basic guitar chord knowledge. This site uses the Pure CSS framework</p>
			</div>
		</div>

		<!-- Fusion Fest -->
		<div class="row">
			<div class="col6">
				<a target="_blank" href="http://jtpatton.com/fusionfest"><img src="images/placeholder.jpg" alt="Project Image"></a>
			</div>
			<div class="col5 offset1">
				<h3>Fusion Fest</h3>
				<p>- HTML5, CSS3, JavaScript, jQuery -</p>
				<p>Fusion Fest is a mock festival site to convince people who aren't familiar with Electric Dance Music (EDM) to go to an EDM festival by having the artists attending mix songs from Rock music.</p>
			</div>
		</div>

		<!-- Ride A Bike -->
		<div class="row">
			<div class="col6">
				<img src="images/placeholder.jpg" alt="Project Image">
			</div>
			<div class="col5 offset1">
				<h3>Ride A Bike</h3>
				<p>- HTML5, CSS3, JavaScript, Concise -</p>
				<p>Ride A Bike is an informative website to encourage young adults to ride their bike to work as an alternative form of transportation for health reasons and to save the environment. This site uses the Concise CSS framework.</p>
			</div>
		</div>

		<!-- Bijoux Mimi -->
		<div class="row">
			<div class="col6">
				<img src="images/placeholder.jpg" alt="Project Image">
			</div>
			<div class="col5 offset1">
				<h3>Bijoux Mimi Shop</h3>
				<p>- Magento, PHP, HTML5, CSS -</p>
				<p>Bijoux Mimi sells high-quality vintage and romantic jewelry with style that will last for ages. This online shop uses Magento as the backend CMS and is created to replace the owners popular Etsy shop.</p>
			</div>
		</div>

		<!-- Skateboard Illustration -->
		<div class="row">
			<div class="col6">
				<img src="images/illustration-skateboard.jpg" alt="Photorealistic Skateboard">
			</div>
			<div class="col5 offset1">
				<h3>Skateboard Illustration</h3>
				<p>- Adobe Illustrator -</p>
				<p>This photo-realistic illustration of a skateboard took about 40 hours to create using only illustrator. </p>
			</div>
		</div>		
		
	</div>
</div>